/*for showing all print option in chrome printing dialogue box*/
@page {
    size: auto !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.left-and-top-space {
    padding-left: 50px;
    margin-top: 40px;
}

/*custom font styles*/
.thin-font-with-italic {
    font-family: 'Roboto Thin', sans-serif;
    font-style: italic;
}

.light-font-with-italic {
    font-family: 'Roboto Light', sans-serif;
    font-style: italic;
}

.regular-font-size {
    font-size: 10pt;
}

.text-headline {
    font-size: 20pt;
    text-transform: uppercase;
}

/*description*/
#description {
    margin-bottom: 20px;
}

#description-left-part {
    padding-left: 30px;
    padding-top: 10px;
}

#description-right-part {
    padding-top: 20px;
}

#description-name {
    font-size: 30pt;
}

#description-designation {
    font-size: 20pt;
}

#description-bio {
    font-size: 12pt;
}

#description-image {
    padding-top: 10px;
    height: 180px;
    width: 180px;
}

/*contact*/
#contact {
    background-color: #122b40;
}

#contact-left-part {
    color: white;
    padding-left: 70px;
    padding-top: 20px;
}

#contact-right-part {
    color: white;
    padding-top: 20px;
}

/*work experience*/
.work-experience-line-spacing {
    line-height: 20px;
}

.designation {
    font-size: 18pt;
}

.company {
    font-size: 17pt;
}

.responsibility {
    padding-top: 20px;
}

/*soft skills*/
#soft-skills-list {
    line-height: 42px;
}

/*technical skill*/
.technical-skills-font-size {
    font-size: 11pt;
    line-height: 25px;
}

/*education*/
.education-details {
    line-height: 23px;
}

.education-degree {
    font-family: 'Roboto Black', sans-serif;
    font-size: 18pt;
}

.education-university {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 15pt;
}

.education-duration-and-location {
    font-family: 'Roboto Light', sans-serif;
    font-style: italic;
}

/*language*/
.language-details {
    line-height: 21px;
}

.language-proficiency {
    font-family: 'Roboto Light', sans-serif;
    font-style: italic;
    font-size: 11pt;
}

/*certificates*/
.certificates {
    line-height: 21px;
    font-size: 10pt;
}

.certificate-padding {
    padding-bottom: 10px;
    line-height: 16px;
}

.certificate-details {
    font-family: 'Roboto Light', sans-serif;
    font-style: italic;
    font-size: 9pt;
}

/*reference*/
.reference {
    line-height: 21px;
    font-size: 10pt;
}

.reference-padding {
    padding-bottom: 10px;
    line-height: 18px;
}

.reference-contact-info {
    font-family: 'Roboto Light', sans-serif;
    font-style: italic;
    font-size: 9pt;
}

.reference-title {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 14pt;
}

.reference-designation {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 13pt;
}

.reference-company {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 12pt;
}